<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <h1>Contact book</h1>
    <div>
        <% contactBook.forEach(function(contact, i) { %>
            <div class="contactCard">
                <p>
                    <%= contact.name %>
                </p>
                <p>
                    <%= contact.email %>
                </p>
                <button class="remove-contact" id=<%=i %>> Remove </button>
            </div>
                <% }) %>
    </div>

    <div>
        <form id="add-contact">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="John Doe"><br>
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" placeholder="john.doe@gmail.com"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="/js/index.js"></script>
    </body>

</html>